{% extends "personal/header.html" %}
{% block content %}
<h1>My Profile</h1>
<table border="1px">
    <tr>
        <th>Profile Picture</th>
        <th><img src="jugger.jpg" height="100px" width="100px"></th>
    </tr>
    <tr><th>Name</th><td>Vigneshwaran</td></tr>
    <tr><th>D.O.B</th><td>21st Nov 1991</td></tr>
    <tr><th>Phone No.</th><td>9047267366</td></tr>
    <tr><th>Email Id</th><td>vigneshwaranethirajan@gmail.com</td></tr>
</table>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
